* {
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: 'Pokefont';
    src: url(fonts/Radhiumz.ttf);
}
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #262425;
}
.divider-left{
    background-color: #8fc067;
    height: 5px;
    width: 70%;
}
.divider-right{
    background-color: #8fc067;
    height: 5px;
    width: 70%;
    position: absolute;
    right: 0;
}
.col{
    height: fit-content;
}
img.enfermera{
    width: 40%;
}
.comfey{
    width: 45%;
    z-index: -1;
}
img.chansey{
    width: 55%;
    position: relative;
    z-index: 1;
}
div.right{
    display: block;
}
article.pokecenter{
    padding: 0;
}
.blissey{
    width: 50%;
    display: inline;
    float: right;
}
div.right>img{
    width: 60%;
}
.servicios-pokemart{
    width: 220px;
    height: auto;
}
.map{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokecenter-servicios>.card{
    min-width: calc(100% / 6);    
}
/** ----------------------------Body Trainers---------------------------------- **/
main.entrenadores{
    display: grid;
    text-align: justify;
}
article.entrenadores{
    padding: 0 3%;
}
img.entrenadores{
    width: 200px;
    height: auto;
}
.row-entrenadores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.right-entrenadores{
    display: block;
}
.charizard-entrenadores{
    width: 55%;
    z-index: 1;
    left: 5%;
}
.rojo-entrenadores{
    width: 25%;
    z-index: 3;
    position: relative;
}
.blastoise-entrenadores{
    width: 45%;
    z-index: 2;
    right: 5%;
    top: 0;
}
/** ----------------------------Body About us---------------------------------- **/
article.about-us{
    text-align: justify;
}
div.opiniones{
    display: flex;
    justify-content: space-around;}
div.opinion{
    width: 30%;
    border: none;
}
/** ----------------------------Body Adopciones---------------------------------- **/
img.adopciones{
    width: 50%;
    height: auto;
    float: left;
}
div.pasos-adopcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.adopcion{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
}
.ash-pasos{
    width: 180px;
}
.pokeball-pasos{
    width: 50px;
    z-index: 2;
    position: relative;
    right: 30px;
    top: 20px;
}