* {
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: 'Pokefont';
    src: url(fonts/Radhiumz.ttf);
}
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #262425;
}
.divider-left{
    background-color: #8fc067;
    height: 5px;
    width: 70%;
}
.divider-right{
    background-color: #8fc067;
    height: 5px;
    width: 70%;
    position: absolute;
    right: 0;
}
.col{
    height: fit-content;
}
img.enfermera{
    width: 40%;
}
.comfey{
    width: 45%;
    z-index: -1;
}
img.chansey{
    width: 55%;
    position: relative;
    z-index: 1;
}
div.right{
    display: block;
}
article.pokecenter{
    padding: 0;
}
.blissey{
    width: 50%;
    display: inline;
    float: right;
}
div.right>img{
    width: 60%;
}
.servicios-pokemart{
    width: 220px;
    height: auto;
}
.map{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/** ----------------------------Body Trainers---------------------------------- **/
main.entrenadores{
    display: grid;
    text-align: justify;
}
article.entrenadores{
    padding: 0 3%;
}
img.entrenadores{
    width: 200px;
    height: auto;
}
